111111111/formulars1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Admin (EMBRACE) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:app="http://www.roskazna.ru/eb/domain/common/applied" xmlns:base="http://www.roskazna.ru/eb/domain/common/base" xmlns:cm="http://www.roskazna.ru/eb/domain/common" xmlns:eb="http://www.roskazna.ru/eb/domain/appinfo" xmlns:self="http://www.roskazna.ru/eb/domain/Inf_Pay_Doc/formular" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.roskazna.ru/eb/domain/Inf_Pay_Doc/formular">
	<import namespace="http://www.roskazna.ru/eb/domain/common/base" schemaLocation="baseTypes.xsd"/>
	<import namespace="http://www.roskazna.ru/eb/domain/common/applied" schemaLocation="appliedTypes.xsd"/>
	<import namespace="http://www.roskazna.ru/eb/domain/common" schemaLocation="common.xsd"/>
	<element name="Inf_Pay_Doc" type="self:tInf_Pay_Doc"/>
	<complexType name="tInf_Pay_Doc">
		<annotation>
			<appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
				<eb:Type>Formular</eb:Type>
				<eb:Label>Информация из расчетных документов</eb:Label>
				<eb:Definition>Информация из расчетных документов</eb:Definition>
			</appinfo>
		</annotation>
		<complexContent>
			<extension base="cm:tFormular">
				<sequence>
					<element name="GUID_Doc" type="app:tGUID1" minOccurs="0">
						<annotation>
							<appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
								<eb:Label>Код ТОФК по КОФК</eb:Label>
								<eb:Definition>Код ТОФК по КОФК</eb:Definition>
							</appinfo>
						</annotation>
					</element>
					<element name="Date" type="app:tDctDt" minOccurs="0">
						<annotation>
							<appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
								<eb:Label>Дата формирования извещения о постановке на учет (изменении) ДО</eb:Label>
								<eb:Definition>Дата формирования извещения о постановке на учет (изменении) ДО</eb:Definition>
							</appinfo>
						</annotation>
					</element>
					<element name="Scrc" type="app:tSecrLevelComplex" minOccurs="0"/>
					<element name="ItmLst" type="app:tNm150" minOccurs="0"/>
					<element name="Num_LS" type="app:tNm11" minOccurs="0">
						<annotation>
							<appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
								<eb:Label>ГУИД пакета</eb:Label>
								<eb:Definition>ГУИД пакета</eb:Definition>
							</appinfo>
						</annotation>
					</element>
					<element name="Code_Doc" type="app:tCdDocComplex">
						<annotation>
							<appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
								<eb:Label>Наименование ТОФК по КОФК</eb:Label>
								<eb:Definition>Наименование ТОФК по КОФК</eb:Definition>
							</appinfo>
						</annotation>
					</element>
					<element name="Vid_Otch" type="app:tVidOtchComplex" minOccurs="0">
						<annotation>
							<appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
								<eb:Label>Код ПБС по Сводному рестру</eb:Label>
								<eb:Definition>Код ПБС по Сводному рестру</eb:Definition>
							</appinfo>
						</annotation>
					</element>
					<element name="Kol_Doc" type="app:tNm6">
						<annotation>
							<appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
								<eb:Label>Наименование ПБС</eb:Label>
								<eb:Definition>Наименование ПБС</eb:Definition>
							</appinfo>
						</annotation>
					</element>
					<element name="Sum_Doc" type="app:tJustAmnt">
						<annotation>
							<appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
								<eb:Label>Наименование бюджета</eb:Label>
								<eb:Definition>Наименование бюджета</eb:Definition>
							</appinfo>
						</annotation>
					</element>
					<element name="Inf_PD" type="self:tInf_PD" minOccurs="0">
						<annotation>
							<appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
								<eb:Label>Код по ОКТМО</eb:Label>
								<eb:Definition>Код по ОКТМО</eb:Definition>
							</appinfo>
						</annotation>
					</element>
					<element name="Inf_Order" type="self:tInf_Order" minOccurs="0">
						<annotation>
							<appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
								<eb:Label>Код по ОКТМО</eb:Label>
								<eb:Definition>Код по ОКТМО</eb:Definition>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="tInf_PD_ITEM">
		<sequence>
			<element name="Num_EM" type="app:tNm9" minOccurs="0"/>
			<element name="Date_EM" type="app:tDctDt" minOccurs="0"/>
			<element name="ID_EM" type="app:tCd10" minOccurs="0"/>
			<element name="Nom_PP" type="app:tNm9"/>
			<element name="Date_PP" type="app:tDctDt"/>
			<element name="Sum_PP" type="app:tJustAmnt"/>
			<element name="Vid_Pay" type="app:tVidPayComplex" minOccurs="0"/>
			<element name="Date_PP_IN" type="app:tDctDt" minOccurs="0"/>
			<element name="Date_PP_OUT" type="app:tDctDt" minOccurs="0"/>
			<element name="VID_Oper" type="app:tCd2" minOccurs="0"/>
			<element name="Inf_PAY" type="self:tInf_PAY" minOccurs="0"/>
			<element name="Bank_PAY" type="self:tBank_PAY" minOccurs="0"/>
			<element name="Inf_RCP" type="self:tInf_PAY" minOccurs="0"/>
			<element name="Bank_RCP" type="self:tBank_PAY" minOccurs="0"/>
			<element name="Date_PAY" type="app:tDctDt" minOccurs="0"/>
			<element name="Purpose_ID" type="app:tCd1" minOccurs="0"/>
			<element name="Order_PAY" type="app:tCd1" minOccurs="0"/>
			<element name="UIN" type="app:tNm25" minOccurs="0"/>
			<element name="Purpose" type="app:tNm210" minOccurs="0"/>
			<element name="Status_PAY" type="app:tNm2" minOccurs="0"/>
			<element name="KBK" type="app:tNm20" minOccurs="0"/>
			<element name="OKATO" type="app:tNm11" minOccurs="0"/>
			<element name="Osn_Plat" type="app:tNm2" minOccurs="0"/>
			<element name="Nal_Per" type="app:tNm10" minOccurs="0"/>
			<element name="Num_Doc" type="app:tNm15" minOccurs="0"/>
			<element name="Date_Doc" type="app:tNm10" minOccurs="0"/>
			<element name="Type_Pl" type="app:tNm2" minOccurs="0"/>
			<element name="Inf_Pl_Order" type="self:tInf_Pl_Order" minOccurs="0"/>
			<element name="Date_IN_TOFK" type="app:tDctDt"/>
			<element name="GUID" type="app:tGUID1"/>
			<element name="ID_Contr" type="app:tNm25" minOccurs="0"/>
			<element name="NUM_AKK" type="app:tNm50" minOccurs="0"/>
			<element name="SUM_NDS_Doc" type="app:tJustAmnt" minOccurs="0"/>
			<element name="Inf_KBK" type="self:tInf_KBK" minOccurs="0">
				<annotation>
					<appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
						<eb:Label>Дата подписания</eb:Label>
						<eb:Definition>Дата подписания</eb:Definition>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="tInf_KBK_ITEM">
		<sequence>
			<element name="KBK" type="app:tCd20" minOccurs="0"/>
			<element name="TYPE_KBK" type="app:tTypeKBKComplex" minOccurs="0"/>
			<element name="ADD_KLASS" type="app:tNm20" minOccurs="0"/>
			<element name="NUM_BO" type="app:tNm19" minOccurs="0"/>
			<element name="ОКАТО" type="app:tCd8" minOccurs="0"/>
			<element name="SUM" type="app:tJustAmnt"/>
			<element name="SUM_NDS" type="app:tJustAmnt" minOccurs="0"/>
			<element name="Dir_Sum" type="app:tDirSumComplex"/>
			<element name="Month_Fin" type="app:tCd2" minOccurs="0"/>
			<element name="Rezerv" type="app:tNm40" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="tInf_Order_KBK_ITEM">
		<sequence>
			<element name="Order_KBK" type="app:tCd20" minOccurs="0"/>
			<element name="Order_Type_KBK" type="app:tTypeKBKComplex" minOccurs="0"/>
			<element name="Order_Add_Klass" type="app:tNm20" minOccurs="0"/>
			<element name="Order_Num_BO" type="app:tNm19" minOccurs="0"/>
			<element name="Order_ОКАТО" type="app:tNm8" minOccurs="0"/>
			<element name="Order_Sum" type="app:tJustAmnt"/>
			<element name="Order_Dir_Sum" type="app:tDirSumComplex"/>
			<element name="Order_Rezerv" type="app:tNm40" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="tInf_Order_KBK">
		<sequence>
			<element name="Inf_Order_KBK_ITEM" type="self:tInf_Order_KBK_ITEM" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="tInf_Order_ITEM">
		<sequence>
			<element name="GUID_PrimDoc" type="app:tGUID1"/>
			<element name="Order_Type" type="app:tCd1"/>
			<element name="Order_Num" type="app:tNm15"/>
			<element name="Order_DateComp" type="app:tDctDt"/>
			<element name="Order_DateExec" type="app:tDctDt" minOccurs="0"/>
			<element name="Amount_Curr" type="app:tJustAmnt" minOccurs="0"/>
			<element name="CurrCode_OKV" type="app:tCd3" minOccurs="0"/>
			<element name="Amount_Rub" type="app:tJustAmnt"/>
			<element name="Purpose_Pay" type="app:tNm210" minOccurs="0"/>
			<element name="Code_Analyt" type="app:tNm25" minOccurs="0"/>
			<element name="UIN_Char" type="app:tNm25" minOccurs="0"/>
			<element name="Actual_Payer" type="self:tActual_Payer" minOccurs="0"/>
			<element name="Actual_Recip" type="self:tActual_Recip" minOccurs="0"/>
			<element name="FAIP_Code" type="app:tNm24" minOccurs="0"/>
			<element name="IGK" type="app:tNm25" minOccurs="0"/>
			<element name="Code_Reven" type="app:tNm20" minOccurs="0"/>
			<element name="Code_OKTMO" type="app:tNm8" minOccurs="0"/>
			<element name="Payer_status" type="app:tNm2" minOccurs="0"/>
			<element name="Basis_Pay" type="app:tNm2" minOccurs="0"/>
			<element name="Tax_Period" type="app:tNm10" minOccurs="0"/>
			<element name="DocBase_Num" type="app:tNm15" minOccurs="0"/>
			<element name="Payer_Ident" type="app:tNm15" minOccurs="0"/>
			<element name="DocBase_Date" type="app:tNm10" minOccurs="0"/>
			<element name="Inf_Order_KBK" type="self:tInf_Order_KBK" minOccurs="0">
				<annotation>
					<appinfo source="http://www.roskazna.ru/eb/domain/appinfo">
						<eb:Label>Дата подписания</eb:Label>
						<eb:Definition>Дата подписания</eb:Definition>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="tInf_Order">
		<sequence>
			<element name="Inf_Order_ITEM" type="self:tInf_Order_ITEM" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="tInf_PD">
		<sequence>
			<element name="Inf_PD_ITEM" type="self:tInf_PD_ITEM" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="tBank_PAY">
		<sequence>
			<element name="BS_PAY" type="app:tCd20" minOccurs="0"/>
			<element name="BIC_PAY" type="app:tCd9" minOccurs="0"/>
			<element name="BS_KS_PAY" type="app:tCd20" minOccurs="0"/>
			<element name="Name_BIC_PAY" type="app:tNm160" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="tInf_PAY">
		<sequence>
			<element name="INN_PAY" type="app:tINN1-12" minOccurs="0"/>
			<element name="KPP_PAY" type="app:tKPP1-9" minOccurs="0"/>
			<element name="CName_PAY" type="app:tNm160" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="tActual_Payer">
		<sequence>
			<element name="ActPayer_Name" type="app:tNm160" minOccurs="0"/>
			<element name="ActPayer_AccNum" type="app:tNm25" minOccurs="0"/>
			<element name="ActPayer_INN" type="app:tINN1-12" minOccurs="0"/>
			<element name="ActPayer_KPP" type="app:tKPP1-9" minOccurs="0"/>
			<element name="Payer_Name" type="app:tNm2000" minOccurs="0"/>
			<element name="Payer_PersAccNum" type="app:tNm11" minOccurs="0"/>
			<element name="Payer_AccNum" type="app:tCd20" minOccurs="0"/>
			<element name="PayServOrg_Name" type="app:tNm160" minOccurs="0"/>
			<element name="PayServOrg_BIK" type="app:tCd9" minOccurs="0"/>
			<element name="PayServOrg_AccNum" type="app:tCd20" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="tActual_Recip">
		<sequence>
			<element name="Recip_Name" type="app:tNm160" minOccurs="0"/>
			<element name="Recip_PersAccNum" type="app:tCd11" minOccurs="0"/>
			<element name="Recip_INN" type="app:tINN1-12" minOccurs="0"/>
			<element name="Recip_KPP" type="app:tKPP1-9" minOccurs="0"/>
			<element name="RecServOrg_AccNum" type="app:tCd20" minOccurs="0"/>
			<element name="RecServOrg_Name" type="app:tNm160" minOccurs="0"/>
			<element name="RecServOrg_BIK" type="app:tCd9" minOccurs="0"/>
			<element name="Recip_AccNum" type="app:tCd20" minOccurs="0"/>
			<element name="ActRecip_Name" type="app:tNm160" minOccurs="0"/>
			<element name="ActRecip_AccNum" type="app:tNm25" minOccurs="0"/>
			<element name="ActRecip_INN" type="app:tINN1-12" minOccurs="0"/>
			<element name="ActRecip_KPP" type="app:tKPP1-9" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="tInf_Pl_Order">
		<sequence>
			<element name="Nom_PL_PO" type="app:tNm3" minOccurs="0"/>
			<element name="Shifr_RD_PO" type="app:tCd2" minOccurs="0"/>
			<element name="Nom_RD_PO" type="app:tNm6" minOccurs="0"/>
			<element name="Date_RD_PO" type="app:tDctDt" minOccurs="0"/>
			<element name="SUM_OST_PO" type="app:tJustAmnt" minOccurs="0"/>
			<element name="Oper_PO" type="app:tNm16" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="tInf_KBK">
		<sequence>
			<element name="Inf_KBK_ITEM" type="self:tInf_KBK_ITEM" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
