xsd/External.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by Alexander (Lanit) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://bus.gov.ru/external/1" xmlns:t="http://bus.gov.ru/types/1" xmlns:b="http://bus.gov.ru/types/2" xmlns:f="http://bus.gov.ru/types/3" targetNamespace="http://bus.gov.ru/external/1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://bus.gov.ru/types/1" schemaLocation="Types.xsd"/>
	<xs:import namespace="http://bus.gov.ru/types/2" schemaLocation="balance.xsd"  />
	<xs:import namespace="http://bus.gov.ru/types/3" schemaLocation="financialActivityPlan.xsd"  />
	<xs:element name="actionGrant">
		<xs:annotation>
			<xs:documentation>Информация об операциях с целевыми средствами из бюджета</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:actionGrantType">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="activityResult">
		<xs:annotation>
			<xs:documentation>Информация о результатах деятельности и об использовании имущества</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:activityResultType">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="annualBalanceF0503121_2013">
		<xs:annotation>
			<xs:documentation>Отчет о финансовых результатах деятельности (ф. 0503121) за период до 2013 года включительно</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:annualBalanceF0503121Type_2013">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="annualBalanceF0503121_2014">
		<xs:annotation>
			<xs:documentation>Отчет о финансовых результатах деятельности (ф. 0503121) за период начиная с 2014 года включительно</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:annualBalanceF0503121Type_2014">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="annualBalanceF0503121">
		<xs:annotation>
			<xs:documentation>Отчет о финансовых результатах деятельности (ф. 0503121)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:annualBalanceF0503121Type">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="annualBalanceF0503127">
		<xs:annotation>
			<xs:documentation>Отчет об исполнении бюджета (ф. 0503127)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:annualBalanceF0503127Type">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="annualBalanceF0503127_2015">
		<xs:annotation>
			<xs:documentation>Отчет об исполнении бюджета (ф. 0503127)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:annualBalanceF0503127Type_2015">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="annualBalanceF0503130_2013">
		<xs:annotation>
			<xs:documentation>Баланс главного распорядителя, распорядителя, получателя бюджетных средств, главного администратора, администратора источников финансирования дефицита бюджета, главного администратора, администратора доходов бюджета (ф. 0503130) до 2013 года включительно</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:annualBalanceF0503130Type_2013">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="annualBalanceF0503130_2014">
		<xs:annotation>
			<xs:documentation>Баланс главного распорядителя, распорядителя, получателя бюджетных средств, главного администратора, администратора источников финансирования дефицита бюджета, главного администратора, администратора доходов бюджета (ф. 0503130) за 2014 год</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:annualBalanceF0503130Type_2014">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="annualBalanceF0503130_2015">
		<xs:annotation>
			<xs:documentation>Баланс главного распорядителя, распорядителя, получателя бюджетных средств, главного администратора, администратора источников финансирования дефицита бюджета, главного администратора, администратора доходов бюджета (ф. 0503130) за 2015 год и последующие</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:annualBalanceF0503130Type_2015">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="annualBalanceF0503130">
		<xs:annotation>
			<xs:documentation>Баланс главного распорядителя, распорядителя, получателя бюджетных средств, главного администратора, администратора источников финансирования дефицита бюджета, главного администратора, администратора доходов бюджета (ф. 0503130)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:annualBalanceF0503130Type">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="annualBalanceF0503137">
		<xs:annotation>
			<xs:documentation>Отчет об исполнении смет доходов и расходов по приносящей доход деятельности главного распорядителя, получателя бюджетных средств (ф. 0503137)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:annualBalanceF0503137Type">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="annualBalanceF0503721">
		<xs:annotation>
			<xs:documentation>Отчет о финансовых результатах деятельности (ф. 0503721) до 2014 года</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:annualBalanceF0503721Type">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="annualBalanceF0503721_2014">
		<xs:annotation>
			<xs:documentation>Отчет о финансовых результатах деятельности (ф. 0503721) за 2014 год</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:annualBalanceF0503721Type_2014">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="annualBalanceF0503721_2015">
		<xs:annotation>
			<xs:documentation>Отчет о финансовых результатах деятельности (ф. 0503721) за 2015 год и последующие</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:annualBalanceF0503721Type_2015">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="annualBalanceF0503730">
		<xs:annotation>
			<xs:documentation>Баланс государственного (муниципального) учреждения (ф. 0503730) до 2014 года</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:annualBalanceF0503730Type">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="annualBalanceF0503730_2014">
		<xs:annotation>
			<xs:documentation>Баланс государственного (муниципального) учреждения (ф. 0503730) за 2014 год</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:annualBalanceF0503730Type_2014">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="annualBalanceF0503730_2015">
		<xs:annotation>
			<xs:documentation>Баланс государственного (муниципального) учреждения (ф. 0503730) за 2015 год и последующие</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:annualBalanceF0503730Type_2015">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="annualBalanceF0503737">
		<xs:annotation>
			<xs:documentation>Отчет об исполнении учреждением плана его финансово-хозяйственной деятельности (ф. 0503737) до 2015 года</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:annualBalanceF0503737Type">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="annualBalanceF0503737_2015">
		<xs:annotation>
			<xs:documentation>Отчет об исполнении учреждением плана его финансово-хозяйственной деятельности (ф. 0503737) с 2015 года включительно</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:annualBalanceF0503737Type_2015">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="annualBalanceF0503762">
		<xs:annotation>
			<xs:documentation>Сведения о результатах деятельности учреждения по исполнению государственного (муниципального) задания (ф. 0503762)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="b:annualBalanceF0503762Type">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="budgetaryCircumstances">
		<xs:annotation>
			<xs:documentation>Информация о показателях бюджетной сметы</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:budgetaryCircumstancesType">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="confirmation">
		<xs:annotation>
			<xs:documentation>Протокол загрузки информационного пакета</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body" type="t:packetResultType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="financialActivityPlan">
		<xs:annotation>
			<xs:documentation>Информация о плане финансово-хозяйственной деятельности</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:financialActivityPlanType">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="financialActivityPlan2017">
		<xs:annotation>
			<xs:documentation>Информация о плане финансово-хозяйственной деятельности, начиная с 2017 года</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:financialActivityPlan2017Type">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="financialActivityPlan2020">
		<xs:annotation>
			<xs:documentation>Информация о плане финансово-хозяйственной деятельности, начиная с 2020 года</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="f:financialActivityPlan2020Type">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="inspectionActivity">
		<xs:annotation>
			<xs:documentation>Сведения о проведенных в отношении учреждения контрольных мероприятиях и их результатах</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:inspectionActivityType">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="institutionInfo">
		<xs:annotation>
			<xs:documentation>Общая информация об учреждении</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:institutionInfoType">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="diverseInfo">
		<xs:annotation>
			<xs:documentation>Иная информация об учреждении</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:diverseInfoType">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nsiBudget">
		<xs:annotation>
			<xs:documentation>Справочник «Бюджеты»</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:nsiBudgetType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nsiDepartments">
		<xs:annotation>
			<xs:documentation>Справочник «Главы»</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:nsiDepartments" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nsiFederalService">
		<xs:annotation>
			<xs:documentation>Федеральный перечень государственных (муниципальных) услуг (работ) </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:nsiFederalServiceType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nsiInstitutionType">
		<xs:annotation>
			<xs:documentation>Справочник «Виды учреждений»</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:nsiInstitutionTypeType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nsiKbkBudget">
		<xs:annotation>
			<xs:documentation>Справочник «Коды бюджетной классификации»</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:nsiKbkBudgetType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nsiKladr">
		<xs:annotation>
			<xs:documentation>Классификатор адресов России</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:nsiKladrType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nsiKosgu">
		<xs:annotation>
			<xs:documentation>Справочник «Коды по КОСГУ»</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:nsiKosguType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nsiOgs">
		<xs:annotation>
			<xs:documentation>Перечень государственных (муниципальных) учреждений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:versionedPacketType_ogs">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:nsiOgsType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nsiOkato">
		<xs:annotation>
			<xs:documentation>Общероссийский классификатор объектов административно-территориального деления</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:nsiOkatoType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nsiOkei">
		<xs:annotation>
			<xs:documentation>Общероссийский классификатор единиц измерения</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:nsiOkeiType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nsiOker">
		<xs:annotation>
			<xs:documentation>Общероссийский классификатор экономических регионов</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:nsiOkerType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nsiOkfs">
		<xs:annotation>
			<xs:documentation>Общероссийский классификатор форм собственности</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:nsiOkfsType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nsiOkogu">
		<xs:annotation>
			<xs:documentation>Общероссийский классификатор органов государственной власти и управления</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:nsiOkoguType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nsiOkopf">
		<xs:annotation>
			<xs:documentation>Общероссийский классификатор организационно-правовых форм</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:nsiOkopfType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nsiOktmo">
		<xs:annotation>
			<xs:documentation>Общероссийский классификатор территорий муниципальных образований</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:nsiOktmoType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nsiOkved">
		<xs:annotation>
			<xs:documentation>Общероссийский классификатор видов экономической деятельности</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:nsiOkvedType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nsiPpo">
		<xs:annotation>
			<xs:documentation>Справочник «Публично-правовые образования»</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:nsiPpoType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="nsiTOFK">
		<xs:annotation>
			<xs:documentation>Справочник «Территориальные органы Федерального казначейства (ТОФК)»</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:nsiTOFK" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="stateTask">
		<xs:annotation>
			<xs:documentation>Информация о государственном (муниципальном) задании на оказание государственных (муниципальных) услуг (выполнение работ) и его исполнении</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:stateTaskType">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="stateTask640r">
		<xs:annotation>
			<xs:documentation>Государственное задание в соответствии с Постановлением Правительства РФ от 26 июня 2015 г. N640 </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:stateTask640rType">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="reportGUID">
			<xs:selector xpath=".//reportGUID"/>
			<xs:field xpath="."/>
		</xs:key>
	</xs:element>
	<xs:element name="nsiSubjectService">
		<xs:annotation>
			<xs:documentation>Перечень государственных (муниципальных) услуг (работ) субъекта РФ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:nsiSubjectServiceType" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="founderNet">
		<xs:annotation>
			<xs:documentation>Подведомственная сеть учреждения</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:founderNetType">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="checkInfoReport">
		<xs:annotation>
			<xs:documentation>Проверка сведений учреждений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="t:packetType">
					<xs:sequence>
						<xs:element name="body">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" type="t:checkInfoReportType">
										<xs:annotation>
											<xs:documentation>Позиция в информационном пакете</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
